<div class="mt-4">
  <form method="post" action="/search">
    <div class="form-group">
      <label for="search_input" class="form-label">Tìm kiếm</label>
      <input type="text" name="fullname">
      <input type="text" name="age">
      <input type="text" name="q" class="form-control" id="search_input" placeholder="Tìm cái gì đê">
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
